body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2, h3 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: slategrey;
}

.mapcontainer {
  width: 70%;
  height: 100%;
}

.control-panel {
  display: grid;
  grid-template-rows: [text] 4fr [buttonbar] 0.5fr [timescale] 1fr;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0,0,0,0.7);
  font-size: 13px;
  line-height: 2;
  color: #333;
  outline: none;
}

.text {
  display: inline-block;
  max-width: 100%;  /* hacky; do not understand why this div overflows*/
  word-wrap: break-word;
  white-space: pre-line;
  box-sizing: border-box;
  padding: 10px;
  overflow-wrap: break-word;
  margin: .5em;
  overflow-y: scroll;
  /* box-shadow: 0 6px 3px -6px rgba(0,0,0,0.7); */
  background:
    /* Shadow covers */
    linear-gradient(white 30%, rgba(255,255,255,0)),
    linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
    
    /* Shadows */
    radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
    radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
  background:
    /* Shadow covers */
    linear-gradient(white 30%, rgba(255,255,255,0)),
    linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
    
    /* Shadows */
    radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;

}

.text p {
  max-width: 100%;
}

#timescale {
  position: sticky;
  bottom: 5px !important;
}

#button-bar {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  max-width: 100%;
  position: sticky;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  margin-left: 20px;
  width: 160px;
}


.control-button {
  border: 2px solid #333;
  padding: 0.5em;
  font-weight: 700;
  font-size: 1.3em;
  border-radius: 10%;
  margin-right: 90px;
  transition: 350ms all ease;
  outline: none;
}

.control-button:hover, .control-button:focus {
  color: white;
  background: #333;
  outline: none;
}

.control-button:active {
  color: #888;
  background: #000;
  outline: none;
}

.control-button[disabled] {
	background-color:  #333;
  color: slategray;
	cursor: not-allowed;
}

.control-button[disabled]:hover {
  color: slategray;
}

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}

@media (max-width: 600px) {
  .control-panel {
    max-height: 50%;
    top: 50%;
    width: 100%;
    left: 0;
    grid-template-rows: [text] 2fr [buttonbar] 1fr [timescale] 1fr;
  }

  .mapcontainer {
    height: 50%;
    width: 100%;
  }

  #button-bar {
    position: relative;
    margin: 0 auto;
    /* bottom: 1em; */
  }

  .control-button {
    padding: none;
  }
}

/* geo-timescale */
.timescale {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 0.8em;
  color:#333;
  cursor: pointer;
}

rect {
stroke: #fff;
stroke-width:1px;
}
#l0 {
fill:#fff !important;
font-size: 1.2em;
font-weight: 700;
}
line {
stroke:#777;
}
.level1 {
font-size: 1.2em;
}
.level2 {
font-size: 1.1em;
}
.level3 {
font-size: 0.85em;
}
.level4 {
font-size: 0.75em;
}
.level5 {
font-size: 0.7em;
}
